//**************** Nav Bar ****************

nav {
  height: 80px;
  background-color: #FFF;
  i{
      font-size: 1.5rem;
      font-weight: 300;
      padding-block: 8px;
      padding-inline: 9.5px;
      background-color: white;
      border: 0;
      border-radius: 11px;
      color: #FFFFFF;
      position: relative;
      z-index: 1;
  }
  .swap-nav {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      width: 100%;
  }

  .nav-btns .btn {
      display: none;
  }

  .navbar-brand {
      position: relative;
      z-index: 999;
  }

  .navbar-toggler {
      padding: 0;
      border: 0;

      &:focus {
          box-shadow: none;
      }
  }

  .navbar-collapse {
      background-color: #5D50C6;
      border-radius: 10px;
      padding-left: 32px;
      li{
          padding-top: 2rem;
      }
      @media (min-width:992px) {
          li{
              padding-top: 0;
          }
      }
  }


  .nav-link {
      color: #EEEEEE;
  }

}

.navbar-nav {
  gap: 1rem;
  @media (min-width:992px) {
      gap: 4rem;
  }
}

.navlost {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.navbar ul li a {
  position: relative;
}

.navbar ul li a::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.5s;
}

.navbar ul li a:hover::before {
  width: 92%;
}

.navbar .nav-item .nav-link {
  position: relative;
}

.navbar .nav-item .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.5s;
}

.navbar .nav-item .nav-link.active::after {
  width: 92%;
}

@media (min-width: 550px) {
  nav {
      position: relative;

      .swap-nav {
          display: flex;
          justify-content: space-between;
          flex-flow: row-reverse wrap;
          width: calc(100% - 220px);
      }

      .navbar-collapse {
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          top: 80%;
      }

      .nav-btns {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
      }

      .nav-btns .btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      .nav-btns .btn2 {
          padding: 0.5rem 1rem;
          border-radius: 6.25rem;

          &:hover {
              background-color: orange;
          }
          &:focus {
              border: 0;
              box-shadow: none;
          }
      }
      .nav-btns .btn1 {
          margin-right: .5rem;
          padding-inline: 1.6rem;
          border-radius: 6.25rem;

          &:hover {
              background-color: pink;
              transition: 0.5s;
              color: white;
          }

          &:focus {
              border: 0;
              box-shadow: none;
          }
      }

  }
}

@media (min-width: 768px) {
  nav {
      .swap-nav {
          width: calc(100% - 300px);
      }

  }
  .navbar ul li a:hover::before {
      width: 95%;
  }
  .navbar .nav-item .nav-link.active::after {
      width: 95%;
  }
}

@media (min-width: 992px) {
  nav {
      .swap-nav {
          display: flex;
          justify-content: space-between;
          flex-flow: row nowrap;
          width: calc(100% - 220px);
      }

      .nav-link {
          color: #19182580;
      }

      .navbar-collapse {
          background-color: #ffffff;
          border-radius: 10px;
          position: static;
          padding-left: 0;
      }
  }

  .navbar-nav .nav-link.active {
      color: #5D50C6;
  }

  .navbar-nav .nav-link.active:hover {
      color: #5D50C6;
  }

  .navbar ul li a:hover {
      color: #5D50C6;
  }

  .navbar ul li a::before {
      background-color: #5D50C6;
  }


  .navbar .nav-item .nav-link::after {
      background-color: #5D50C6;

  }

  .navbar ul li a:hover::before {
      width: 100%;
  }
   
  .navbar .nav-item .nav-link.active::after {
      width: 100%;
  }

}

.btn {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color:black;
}
.btn:hover{
  background-color:purple;
  color: white;
}
.btn1 {
  color: #222831;
}

.btn2 {
  background-color:pink;
  color: #EEEEEE;

}
















.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
//**************** End Nav Bar ****************
